@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

body{
  background-color: lightblue;
}
header{
  background: linear-gradient( brown, white);
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-family: "Mouse Memoirs";
  color: white;

}


table{
  font-family: "Mouse Memoirs";
  width: 80%;
  margin: auto;
  margin-top: 1%;
}
#title{
  background-color: brown;
}

td:hover{
  color: white;
  transition: 0.5s ease;
}

th{
  background-color: brown;
  font-size: 24pt;
  color: white;
}
tr{
  background-color: white;
}
/* tr:hover{
  background-color: lightgreen;
} */
th,td{
  padding: 5px;
}
#mango{
  background-color: #f4bb44;
}
#kiwi{
  background-color: green;
}
#lope{
  background-color: #f4ae72;
}
#strawberry{
  background-color: #c83f49;
}
/* site-styling */
nav ul{
  display: flex;
  list-style-type: none;
  background: linear-gradient( brown, white);
  border: 1px solid white;
}
nav li{
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;

}
nav a{
  color: white;
}
footer{
  background: linear-gradient( brown, white);
  margin-top: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}
#thumb:hover{
  color: white;
  transition: 0.5s ease;
}
#face:hover{
  color: white;
  transition: 0.5s ease;
}
#go:hover{
  color: white;
  transition: 0.5s ease;
}
